


<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Todos</h2>
            <a class="btn btn-primary"  routerLink="/todo-add">Add Todo</a>
<table class="table">
<thead>
    <tr>
        <th>Completed</th>
        <th>Id</th>
        <th>Content</th>
        <th>Create</th>
      
        
        <th>Actions</th>
        
    </tr>
</thead>
    <tbody>
<tr *ngFor="let todo of todos"   [ngClass]="{'table-success':todo.isCompleted,'table-danger':!todo.isCompleted}">
    <td>   <input class="form-check-input" type="checkbox" [checked]="todo.isCompleted"  (change)="isCompleted(todo.id)"> </td>
<td>{{todo.id}}</td>
<td> <span [ngClass]="{'completed':todo.isCompleted}"> {{todo.content}}</span>  </td>
<td>{{todo.created | date:'short'}}</td>

<td><button (click)="delete(todo.id)" class="btn btn-danger">Delete</button>
<a  class="btn btn-success mx-2" [routerLink]="['/todo-update',todo.id]">Update</a>
</td>
</tr>

    </tbody>



</table>
        </div>
    </div>
</div>





